@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

body{

background: #4776E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Exo', sans-serif;
   overflow-x: hidden;
}

#row{
	
	margin-top: 10%;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom:  5%;
	background: white;
	border-radius: 10px;
	box-shadow: 0px 0px 8px black;
	
}

.tab-pane{
	min-height: 30rem !important;
}

.image-parent{
	max-width: 50px;
}

td{
	margin: 2%;
	padding: 2%;
}

tr{
  border: 1px solid rgba(0, 0, 0, 0.125);
}

td img{
	width: 100%;
	height: 100%;
}

